.button {
  @include flex(center, center, $display: inline-flex);
  @include make-spacer(m, 0);
  @include make-spacer(py, 4);
  @include make-spacer(px, 2);
  @include make-spacer(px, 4, sm);
  @include font-size(10px, 14px);
  @include transition(#{background-color, box-shadow, color});
  @include size(100%, 32px);

  position: relative;
  outline: none;
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--black-primary);
  user-select: none;
  -webkit-appearance: none; // stylelint-disable-line
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  font-family: var(--headings-font-family);

  &--fluid {
    width: 100%;
  }

  &--primary {
    background-color: var(--blue-primary);
    color: var(--white);
    border: 1px solid var(--blue-primary);

    &:hover {
      background-color: transparent;
      color: var(--white);
      border: 1px solid var(--white);
    }
  }
}
