---
lang: eng
---
extends layouts/_layout

block content

  .container.content

    aside.filters

      include components/_filters

    main.main-container.u-bg-white

      include components/_assets

