.icon-expand {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gif {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ideas-color {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ideas {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-image {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pdf {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tamplate {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-video {
  width: 1em;
  height: 1em;
  fill: initial;
}
