:root {
  --white: #ffffff;
  --black-primary: #000000;
  --gray-10: #e8e8e8;
  --gray: #e5e5e5;
  --blue-primary: #4797FF;
  --green-primary: #33D7B2;
  --text-primary: #575757;
  --bg-default: #F4F5F7;
}
