-
  var cardList = [
    {
      src: '/img/photo1.jpg',
      icon: 'tamplate',
      title: "Digestzen Flash Sale",
      link: "https://github.com/PromoRepublic/test-task-markup",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo2.jpg',
      icon: 'image',
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo3.jpg',
      icon: 'image',
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo4.jpg',
      icon: 'gif',
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo5.jpg',
      icon: 'tamplate',
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo6.jpg',
      icon: 'tamplate',
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo7.jpg',
      icon: 'tamplate',
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo8.jpg',
      icon: 'tamplate',
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo9.jpg',
      icon: 'tamplate',
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo9.jpg',
      icon: 'tamplate',
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo9.jpg',
      icon: 'tamplate',
      title: "Digestzen Flash Sale",
      link: "/item",
      number: "356",
      data: "Used (total)",
    },
    {
      src: '/img/photo9.jpg',
      icon: 'tamplate',
      title: "Digestzen Flash Sale",
      subtitle: "Flash Sale! 5% off DigestZen® Sale",
      link: "/item",
      tags: "Promotions/Holiday (US)",
      tag1: "Holiday",
      tag2: "USA collaboration",
      tag3: "New vision",
      number: "356",
      data: "Used (total)",
    },
  ]
