-
  var filtersList = [
    {
      label: 'Tamplate',
      checked: 'checked',
      icon: 'tamplate'
    },
    {
      label: 'Image',
      icon: 'image'
    },
    {
      label: 'Video',
      icon: 'video'
    },
    {
      label: 'PDF',
      icon: 'pdf'
    },
    {
      label: 'GIF',
      checked: 'checked',
      icon: 'gif'
    },
    {
      label: 'Article',
      icon: 'link'
    },
  ]
